.register{
    height: 100vh;
}
.bg_login {
    background-color: #1C1D21;
}
.login-bg {
    background-color: #1C1D21;
}
.login-bg .form-control {
    background: rgb(255 255 255 / 1%);
    border: none;
    border-bottom: 2px solid #77777A;
    border-radius: 0px;
}
.login-bg button {
    background-color: #F15056;
    border: none;
}

.login_detail_main{
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100%;
}

.login_detail_left{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.login_detail_right{
    background: url(../default_image/banner/login_image.png),#F15056;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login-title{
    position: absolute;
    top: 120px;
    left: 70%;
    transform: translate(-70%, 0);
    color: #fff;
    width: 500px;
}
.login-title h2{
    font-size: 65px;
    font-weight: 500;
    line-height: 65px;
    margin-bottom: 10px;
}
.login-title h2 span{
    font-weight: 700;
}
.login-title p{
    font-size: 16px;
    margin: 0;
}
.login-bg .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #f47378;
    border-color: #f15056;
}
a.forgot-password {
    color: #FFFFFF80;
    font-size: 12px;
}

.login-bg .btn-primary:focus,
  .btn-primary:active {
    background-color: #F15056;
    border: none;
}
.addbutton {
    text-align: center;
    margin-bottom: 15px;
}
.addbutton a {
    border: 2px solid #F39C12;
    background-color: #F39C12;
    color: #FFFFFF;
}

.addbutton a:hover{
    border: 2px solid #f7bb5b;
    background-color: #f7bb5b;
    color: #FFFFFF;
}
section.show-section {
    background-color: #ffff;
}

.store-form h5 {
    font-weight: bold;
    padding-top: 6px;
}
.store-form i {
    font-size: 22px;
}

.store-form {
    background-color: #fff;
    padding: 15px;
}

label.form-label {
    font-size: 13px;
    font-weight: 700;
}
.show-section i {
    color: #495057;
    border: none !important;
}

.show-section i:hover {
    color: #495057;
    border: none;
}

.show-section button {
    border: none !important;
}
.edit-profile-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
.warning p {
    font-size: 13px;
    font-weight: 600;
    vertical-align: middle;
    padding-top: 10px;
}
a#category_button_add {
    background-color: #DD4B39;
    border: 2px solid #DD4B39;
    margin-left: 20px;
}

a#category_button_add:hover {
    background-color: #db695a;
    border: 2px solid #cf6a5d;
    margin-left: 20px;
}
span.pending-report {
    background: #F39C12;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
}
span.pending-approved {
    background: #00A65A;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
}
span.pending-rejected {
    background: #F31212;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
}
.department-btn {
    text-align: right!important;
}
.organization-name label {
    color: #00bcd4;
    font-size: 15px;
}
.abha_detail_right{
    background: url(../default_image/banner/login_image.png),#00BCD4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.certified-by img {
    width: 300px;
    height: 57px;
}
.certified-by {
    text-align: center;
    margin-top: 20px;
}


.sing-up-adhar a {
    margin-left: 10px;
    color: #00BCD4;
}

.sing-up-adhar p {
    text-align: center;
    color: #FFFFFF80;
}

.continue-button button{
    padding: 10px;
    background: #00BCD4;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    color: white;
    width: 200px;
}

.continue-button button:hover{
    background: #00BCD4;
    color: white;
}
.consent-list {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.consent-container ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.consent-container {
    height: 250px;
    overflow-y: auto;
}

.consent-list input {
    height: 15px;
    width: 15px;
    margin-right: 10px !important;
    
}

.consent-list p {
    letter-spacing: 0;
    font-size: 12px;
    color: #FFFFFF;
    width: calc(100% - 25px);
}

.adhar-number input {
    border-radius: 8px;
    background: #333437;
    color: white;
    padding: 8px;
    border:none;
    text-align: center;
}
.adhar-number {
    margin: 10px 0;
}

.adhar-number label {
    font-size: 15px;
    color: #FFFFFFB2;
    margin-bottom: 10px;
    margin-top: 10px;
}
    

.login-accuster-button, .download-app-button {
    border-radius: 8px;
    background: #1c1d21;
    color: white;
    padding: 15px;
    border: 1px solid white;
}

.login-accuster-button:hover {
    background: white;
    color: #1c1d21;
}

.download-app-button {
    background: #00BCD4 !important; 
    border: none;
}

    .download-app-button:hover {
    border: 1px solid #00BCD4;
    color: white;
    background: transparent;
}



.abha_detail_right {
    padding: 130px 90px;
    color: white;
}

.abha_detail_right h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    margin-bottom: 20px;
}
.abha_detail_right ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.abha_detail_right ul li{
    margin-bottom: 15px;
}

.step-content{
    width: calc(100% - 45px);
}

.step-content h3{
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    color: white;
}

.step-content p{
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    color: white;
}

.step-count{
    width: 30px;
    height: 30px;
    background: white;
    position: relative;
    border-radius: 100%;
    font-size: 18px;
    color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.step-count::after{
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 100%;
    top: -5px;
    left: -5px;
}


.bg_abha {
    background-color: #1C1D21;
}
.abha-bg {
    background-color: #1C1D21;
}
.abha_detail_main{
    display: grid;
    grid-template-columns: 1fr 400px;
    height: 100%;
}
.abha_detail_left{
    padding: 20px;
}
.right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.abha-title{
    position: absolute;
    top: 120px;
    left: 70%;
    transform: translate(-70%, 0);
    color: #fff;
    width: 500px;
}
.abha-title h2{
    font-size: 65px;
    font-weight: 500;
    line-height: 65px;
    margin-bottom: 10px;
}

img.abha-logo-two {
    position: absolute;
    top: 10px;
    left: 155px;
}

img.abha-logo-one {
    position: absolute;
    top: 0;
    left: 30px;
}




/* otp varification */
.step-container {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    color: white;
    font-size: 14px;
    margin-bottom: 25px;
}

.step-container label{
    color: #BBBBBC;
}

#resendBtn {
    color: #FFFFFF;
}

.container-box h5{
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.container-box p{
    color: #BBBBBC;
}

.step-marker {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #DB3535;
    color: white;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    flex-shrink: 0;
}

.step-marker::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 65px;
    background-image: linear-gradient(to bottom, #DB3535 50%, transparent 50%);
    background-size: 2px 10px;
    background-repeat: repeat-y;
}

.step-marker.last::after {
    display: none;
}

.otp-inputs input {
    width: 40px;
    height: 40px;
    background: #2a2a2a;
    color: white;
    border: 1px solid #555;
}

.container-box .step-container .input-group .form-control {
    background-color: #2a2a2a;
    color: white;
    border: 1px solid #555;
}

.container-box {
    background-color: #1e1e1e;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    border-radius: 12px;
}

#timer {
    color: #FF0000;
}



/* abha details */

.userdetails-box {
    margin-top: 20px;
}

.userdetails-box h5{
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.userdetails-box p{
    color: #BBBBBC;
}

.detail-row label {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
}

.detail-row input {
    background: none;
    border: none !important;
}

.userdetails-box label {
    color: #FFFFFF;
    font-size: 14px;
}

.userdetails-box span {
    color: #FFFFFF;
    font-size: 14px;
}

.userdetails-box small {
    color: #BBBBBC;
    font-size: 12px;
}

.suggestions label {
  display: block;
  margin-bottom: 8px;
}

/* .suggestion-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.suggestion-buttons button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.suggestion-buttons button:hover {
  background-color: #555;
  color: #FFFFFF;
}

.abha_detail_left {
    background-color: #1c1d21;
}


.abha-down-btn .ahba-btn {
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 10px;
    background: #333437;
    margin-top: 30px;
}

button.go-home-btn {
    color: #FFFFFF;
}

button.go-home-btn:hover {
    color: #FFFFFF;
}

.login_abha_btn {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-right: 10px;
    margin-top: 20px;
}

.login_abha_btn a.btn {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.abha_detail_left {
    display: none;
}

#abha_detail_main #step1 {
    display: block !important;
}